.CartItemCard {
    display: flex;
}

.cartItemDetails {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    justify-content: space-evenly;
}

.cartItemDetails span, .cartItemDetails h4 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: rgb(140, 140, 140);
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
}

.cartItemDetails span a, .cartItemDetails h4 span {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
}

.cartItemDetails p {
    color: rgb(215, 34, 34);
    cursor: pointer;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
}

.CartItemCard img {
    width: 100px;
    height: 100px;
    padding: 3px;
    border-radius: 3px;
    object-fit: contain;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(243, 243, 243, 0.550);
}