.productsPageBody {
    margin: 30px 15px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.productsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.paginationBox {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Noto Sans JP", sans-serif;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}

.pageItem {
    list-style: none;
    padding: 8px 13px 10px 13px;
    border: 1px solid #e9e9e9;
    transition: all 0.3s;
    cursor: pointer;
}

.pageItemActive {
    border: 1px solid #c7c7c7;
}

.pageItem:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pageItem:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pageLink {
    text-decoration: none;
    color: black;
}

.filterBoxMainBody {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 8px; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.filterBoxMainBody .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.openCategory {
    color: #f43397;
}

.filledCheckBox {
    background-color: #f654a8;
}

.filterBoxMainBody .heading h1 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.filterBoxMainBody .heading button {
    color: #f43397;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    letter-spacing: 0.2px;
}

.filterBoxMainBody .category {
    padding: 15px;
}

.filterBoxMainBody .category .categoryHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.categoryBorderBottom {
    border-bottom: 1px solid #0000001a;
}

.categoryWrapper {
    margin-top: 10px;
}

.filterBoxMainBody .category .categoryHeading h1 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.categoryItem {
    padding: 8px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.categoryItem .checkBox {
    height: 15px;
    width: 15px;
    border: 1px solid #f4339760;
    border-radius: 50%;
}

.categoryItem .itemName {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.coverOfSelectBox {
    width: 230px;
}

.variantsBody {
    display: flex;
    padding: 5px 5px 5px 0px;
    width: 100%;
    box-sizing: border-box;
}

.ratingBody {
    display: flex;
    padding: 5px 5px 5px 0px;
    width: 100%;
    box-sizing: border-box;
}

.priceBody {
    display: flex;
    padding: 5px 5px 5px 0px;
    width: 100%;
    box-sizing: border-box;
}

.reviewBody {
    display: flex;
    padding: 5px 5px 5px 0px;
    width: 100%;
    box-sizing: border-box;
}

.variantsBody select,
.ratingBody select,
.priceBody select,
.reviewBody select{
    width: 100%;
    font-family: "Noto Sans JP", sans-serif;
    border: 1px solid #87878730;
    border-radius: 3px;
    background-color: transparent;
    height: 55px; 
    font-size: 17px;
    font-weight: 400;
    padding: 0px 10px;
    color: rgba(0, 0, 0, 0.9);
}

.variantsBody select:focus,
.ratingBody select:focus,
.priceBody select:focus{
    outline: none;
}