.bodyProductsCard {
    width: 25%;
}

.productsCard {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 6px;
    margin: calc(10px / 2);
}

.productsCard>img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 400px; 
    object-fit: cover;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.productsCard>.productsDetails {
    margin: 10px;
}

.productsCard>.productsDetails>p {
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
}

.productsCard .productsDetails .ratingReviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productsCard .productsDetails .ratingReviews>span {
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans JP", sans-serif;
}

.productsCard .productsDetails .priceStock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Noto Sans JP", sans-serif;
    height: 40px;
}

.productsCard .productsDetails .priceStock h3 {
    color: black;
    font-size: 17px;
    font-weight: 400;
    font-family: "Noto Sans JP", sans-serif;
}

.productsCard .productsDetails .priceStock>span {
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1400px) {
    .bodyProductsCard {
        width: 33.333333%;
    }
}

@media screen and (max-width: 1100px) {
    .bodyProductsCard {
        width: 50%;
    }
}

@media screen and (max-width: 850px) {
    .bodyProductsCard {
        width: 100%
    }
}