.stepperBody {
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
    margin: 50px auto auto auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.stepLebel p,
.stepLebel span {
    font-family: "Noto Sans JP", sans-serif !important;
}

.changeIcon svg {
    fill: black !important;
}

.doNotChange svg {
    fill: rgba(0, 0, 0, 0.4) !important;
}