.myOrdersTable {
    font-family: "Noto Sans JP", sans-serif !important;
}

.MuiDataGrid-footerContainer p{
    font-family: "Noto Sans JP", sans-serif !important;
}

.myOrdersPage {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

#myOrdersHeading {
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    color: rgba(0, 0, 0, 0.95);
    font-size: 18px;
    font-weight: 400;
    margin: 14px;
}

.orderLink {
    color: #4a4a4a;
}

.greenColor {
    color: #184904;
}

.redColor {
    color: #630d0d;
}

.css-1w5m2wr-MuiDataGrid-virtualScroller::-webkit-scrollbar {
    height: 0px;
}

.css-1w5m2wr-MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.css-1w5m2wr-MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
    background: rgb(225, 225, 225);
}

.css-1w5m2wr-MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
    background: rgb(195, 195, 195);
}

.myOrdersTable .MuiDataGrid-columnSeparator {
    display: none !important;
}