.sidebar {
    border: 1px solid #e0e0e0;
    height: fit-content;
    border-radius: 1px;
}

.dashboardBorderBottom {
    border-bottom: 1px solid #e0e0e0;
}

.sidebarItem a div {
    padding: 15px;
    color: #000;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}